.buttonIcon {
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-grey-100);
    box-shadow: 0 0 2px 2px var(--color-brand-800);
  }

  & svg {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-brand-600);
  }
}
