.linkToMainGame {
  display: flex;
  align-items: center;
  color: var(--color-grey-500);
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    color: var(--color-brand-500);
  }
  &:active {
    text-decoration: none;
  }
}

.type {
  color: var(--color-grey-500);
}
