@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hoverable {
  position: absolute;
  z-index: 999;
  border-radius: var(--border-radius-md);
  background-color: color-mix(in srgb, var(--color-grey-200), transparent 15%);
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  animation: fadeIn 0.2s ease-out forwards;
}
