.navLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLink {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-grey-800);
  font-size: 2rem;
  font-weight: bolder;
  background: transparent;

  & svg {
    max-height: 100%;
  }

  &:hover {
    text-decoration: underline;
    color: var(--color-brand-500);
    text-shadow: 0 0 10px var(--color-brand-700);
  }
}

.active {
  color: var(--color-brand-500);
  text-shadow: 0 0 10px var(--color-brand-700);
}
