@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  position: fixed;
  border-radius: var(--border-radius-md);
  padding: 1.5rem;
  background-color: color-mix(in srgb, var(--color-grey-200), transparent 15%);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.1s ease-out forwards;
  // top and right are set on styles object
}
