.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70dvw;
}
.arrowButton {
  font-size: 3rem;
  color: var(--color-grey-700);
  border: none;
  background-color: transparent;

  &:not(:disabled) svg:hover {
    color: var(--color-brand-700);
  }
}
.video {
  width: 60dvw;
  height: 70dvh;
  border: none;
}
.grayscale {
  filter: grayscale(100%);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  color: var(--color-grey-500);

  & a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:hover {
      color: var(--color-brand-700);
    }
  }
}
